<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.panxiaochao.system.infrastructure.dao.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.panxiaochao.system.infrastructure.dao.po.SysMenuPO">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="menu_name" property="menuName"/>
        <result column="url" property="url"/>
        <result column="redirect_url" property="redirectUrl"/>
        <result column="component" property="component"/>
        <result column="component_name" property="componentName"/>
        <result column="permission_code" property="permissionCode"/>
        <result column="icon" property="icon"/>
        <result column="menu_type" property="menuType"/>
        <result column="open_type" property="openType"/>
        <result column="keep_alive" property="keepAlive"/>
        <result column="is_hidden" property="isHidden"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
    </resultMap>

</mapper>
